

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.main-table {
  max-width: 1200px;
  /* padding: 0 125px 20px; */
  margin: 0 auto;
  padding-top: 40px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-gap {

  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}
