

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}



.example-spacer {
  flex: 1 1 auto;
}

.example-gap {

  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}
