<mat-toolbar color="primary" class="header">
  <span>Reactive Material</span>
  <span class="example-spacer"></span>
  <div class="example-gap">
    <button mat-raised-button (click)="openDialog()" >
      Add User
    </button>
    <button mat-raised-button>
      <a (click)="logout()">Logout</a>
    </button>
  </div>
</mat-toolbar>


<div class="main-table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let userJson"> {{userJson.id}} </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let userJson"> {{userJson.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let userJson"> {{userJson.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let userJson"> {{userJson.email}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let userJson"> {{userJson.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef> Hours </th>
      <td mat-cell *matCellDef="let userJson"> {{userJson.hours}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let users">
        <img [src]="users.avatar" alt="{{ users.avatar }}" class="avatar-image"/>
      </td>
    </ng-container> -->


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Utils </th>
      <td mat-cell *matCellDef="let users">
        <button mat-icon-button color="secondary" (click)="editUsers(users)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUsers(users.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'first_name', 'last_name', 'email', 'gender', 'hours', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'first_name', 'last_name', 'email', 'gender', 'hours', 'actions'];"></tr>
  </table>

  <mat-paginator
                [pageSizeOptions]="[6, 10, 20]"
                 aria-label="Select page of users"
                 >
  </mat-paginator>
</div>

</div>




