
<!-- <mat-toolbar color="primary" class="header">
  <span>Api Reqres</span>
  <app-edit-user></app-edit-user>
</mat-toolbar> -->
<app-edit-user></app-edit-user>

<app-user-list></app-user-list>



<!-- <div class="grid-container">
  <mat-list role="list" class="grid-item" *ngFor="let item of response">
    <mat-list-item role="listitem">Email: {{ item.email }}</mat-list-item>
    <!-- <mat-list-item role="listitem">{{ item.id }}</mat-list-item> -->
    <!-- <mat-list-item role="listitem">Name: {{ item.first_name }} {{ item.last_name }}</mat-list-item>
    <img alt="{{ item.avatar }}" mat-card-image src="{{ item.avatar }}">
    <mat-list-item role="listitem">
      <button (click)="deletUserForm(item.id)">Delete</button>
    </mat-list-item>
  </mat-list>
</div>  -->

<!-- por id -->
<!-- <div *ngIf="responseUser">
  <p>{{ responseUser.id }}</p>
</div> -->

 <!-- <p>{{ responseUser | json }}</p> -->
<!--
<div *ngFor="let item of response.data">
  <p>{{ item.email }}</p>
</div> -->

