@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 0 auto; */
  height: 100dvh;
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  padding: 2em;
  max-width: 100%;
  background-color: black;
}
