<mat-toolbar class="header">
  <span>Forms with Material</span>
  <span class="example-spacer"></span>
  <div class="example-gap">
    <button mat-raised-button color="primary">
      <a [routerLink]="['/home']">Home</a>
    </button>
  </div>
</mat-toolbar>

<div class="container">
<mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="formUser" (ngSubmit)="submit()">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username" autocomplete="user">
    <mat-hint>eve.holt&#64;reqres.in</mat-hint>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="password">
  </mat-form-field>
</p>

<!-- <p *ngIf="error" class="error">
  {{ error }}
</p> -->

<div class="button">
  <button type="submit" mat-button>Login</button>
</div>

<div>
</div>

</form>
</mat-card-content>
</mat-card>
</div>
