@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0 auto;
  height: 100dvh;
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  padding: 2em;
  max-width: 1600px;
}
